@font-face {
    font-family: sfuiBold;
    src: url(./fonts/SF-UI-Text-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuibolditalic;
    src: url(./fonts/SF-UI-Text-Bold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldHeavy;
    src: url(./fonts/SF-UI-Text-Heavy.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldHeavyItalic;
    src: url(./fonts/SF-UI-Text-HeavyItalic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldLight;
    src: url(./fonts/SF-UI-Text-Light.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldLightItalic;
    src: url(./fonts/SF-UI-Text-LightItalic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldMedium;
    src: url(./fonts/SF-UI-Text-Medium.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldMediumItalic;
    src: url(./fonts/SF-UI-Text-MediumItalic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldRegular;
    src: url(./fonts/SF-UI-Text-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldRegularItalic;
    src: url(./fonts/SF-UI-Text-RegularItalic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldSemibold;
    src: url(./fonts/SF-UI-Text-Semibold.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldSemiboldItalic;
    src: url(./fonts/SF-UI-Text-SemiboldItalic.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldUltrathin;
    src: url(./fonts/SF-UI-Text-Ultrathin.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: sfuiboldUltrathinItalic;
    src: url(./fonts/SF-UI-Text-UltrathinItalic.otf);
    font-weight: 400;
    font-style: normal;
}

body {
    margin-top: 7rem;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.filter-button-group {
    padding: 15px;
}

.btn.btn-default {
    padding: 1rem 0;
    font-size: 1.7rem;
    border-radius: 0;
    border: 0px;
    color: #000;
    font-style: normal;
}

.btn-default:active {
    box-shadow: none;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default.is-checked {
    color: #333;
    border: none;
    outline: none;
    background: transparent;
    font-weight: bold;
}

.thumbnail {
    border-radius: 0px;
    border: 0px;
    padding: 0px;
}

.logo {
    width: 36px;
    height: 36px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 50px;
}

.btn {
    font-family: sfuiboldRegular;
}

p.home-center.text {
    font-weight: bold;
    font-size: 1.25em;
}

.home-text {
    text-align: center;
    font-weight: bold;
    font-size: 2.25em;
    font-family: sfuiboldHeavy;
    margin-bottom: 50px;
}

a.black-circle {
    color: #000;
    font-weight: bold;
    font-size: 1.25em;
    position: relative;
    top: 12px;
    left: 7px;
}

a.black-circle:hover {
    text-decoration: none;
    color: #000;
}

a.black-circle:focus {
    color: #000;
    outline: none;
}


/* Common Styles */

.btn-group:focus {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-default:active:focus {
    background-color: transparent !important;
    border: none !important;
    border-color: transparent !important;
    outline: none !important;
}

.btn.active,
.btn:active {
    box-shadow: none !important;
}

article {
    font-family: sfuiboldRegular;
    font-size: 19px;
    line-height: 36px !important;
}

.returnbackclose {
    color: #333;
    opacity: 1;
    font-size: 30px;
}

.nomargin {
    margin: 0px !important;
}

.paddingTopBottom10 {
    padding: 0px 0px 20px 0px;
}


/* Page Styles */

#headerTitle h1 {
    font-size: 50px;
    margin: 0px;
    padding: 15px 0px;
    font-family: sfuiBold;
}

#headerTitle p {
    font-size: 20px;
    padding-bottom: 15px;
    font-style: italic;
}

#headerTitle {
    border-left: 5px solid #333;
    font-family: sfuiboldLight;
}

#headerTitle .alert {
    padding: 0px;
    margin-bottom: 0px;
}

#overviewSec article {
    margin-bottom: 20px;
    margin-top: 20px;
}

#overviewSec img {
    max-height: 550px;
}

#overviewSec article {
    line-height: 26px;
}

.section {
    margin: 50px 0px;
}

.section-title {
    padding: 0px 0px 25px 0px;
    font-family: sfuiBold;
}

div#overviewSec .col-md-4 {
    padding: 0px;
}

ul.list-of-links {
    font-family: sfuiboldRegular;
    font-size: 1.25em;
    list-style: none;
    padding: 0px;
    line-height: 50px;
    margin-left: 20px;
}

ul.list-of-links li img {
    width: 25px;
    height: 25px;
    position: relative;
    top: -1px;
    left: -10px;
}


/*Home Page*/

.filterbtn-group {
    /*font-family: sfuiboldRegular;*/
    font-family: sfuiboldMedium;
}

button.btn.btn-default.is-checked {
    text-decoration: underline;
    /*font-family: sfuiboldMedium;*/
}


/* Animation Part */

section {
    opacity: 0;
    transition: ease all 1s;
    margin-left: -15px;
}

section .fadeIn {
    opacity: 1;
    margin-left: 0;
}


/* Media Query Responsive Handle Section */

.grid-himage {
    display: none !important;
}
@media screen and (max-width: 650px) {
    .logo {
        position: absolute;
    }
    #overviewSec img {
        max-height: 100%;
    }
    .row {
        margin: 0px 5px !important;
    }
    video {
        max-height: 500px;
    }
    .grid-hvideo {
        display: none !important;
    }
    .grid-himage {
        display: block !important;
    }
    button.btn.btn-default {
        font-size: 1em;
    }
}


/* Angular Animation */


/* Default view */

.view {
    position: relative;
    top: 100px;
    transition: 300ms;
    width: 100%;
}

a.black-circle:hover {
    text-decoration: none;
    color: #fff;
}


/* First animation*/

.first .view.ng-enter {
    -webkit-transition: 1s linear all;
    /* Chrome */
    transition: 1s linear all;
    /*left: -100%;*/
    top: -100%;
    background: pink;
}

.first .view.ng-enter.ng-enter-active {
    /*lleft: 0%;*/
    top: 0%;
}

.first .view.ng-leave {
    /*left: 0%;*/
    top: 0%;
}

.first .view.ng-leave.ng-leave-active {
    /*left: 100%;*/
    top: 0%;
}


/* Second animation*/

.second .view.ng-enter {
    -webkit-transition: 1s linear all;
    /* Chrome */
    transition: 1s linear all;
    left: 100%;
}

.second .view.ng-enter.ng-enter-active {
    left: 0%;
}

.second .view.ng-leave {
    left: 0%;
}

.second .view.ng-leave.ng-leave-active {
    left: -100%;
}


/* Third animation*/

.third .view.ng-enter {
    -webkit-transition: 1s linear all;
    /* Chrome */
    transition: 1s linear all;
    top: 100%;
}

.third .view.ng-enter.ng-enter-active {
    top: 0%;
}

.third .view.ng-leave {
    top: 0%;
}

.third .view.ng-leave.ng-leave-active {
    top: -100%;
}


/* Third animation*/

.welcome .view.ng-enter {
    opacity: 0;
}

.returnbackclose {
    color: #333 !important;
    opacity: 1 !important;
    font-size: 50px !important;
}

.btn-group-justified {
    display: inline-block !important;
}

.grid-thumbnail {
    border: none !important;
}

#process img {
    max-height: 550px;
}

p.videotitle {
    font-family: sfuiboldRegular;
    font-size: 1.25em;
    text-align: center;
    padding: 10px 0px;
}

.margintop100 {
    margin-top: 100px;
}


/* Center the loader */

.margintopzero {
    margin-top: 0px !important;
}

.element-item video {
    padding: 10px;
}

ul.list-of-links a {
    color: #333;
}

ul.list-of-links a:hover {
    cursor: pointer;
    text-decoration: none;
}

.rotate90 {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.col-half-offset {
    margin-left: 4.166666667%
}

.section1 .h3 {
    text-decoration: underline;
    font-size: 1em;
}

.press-paragreaph {
    font-family: sfuiboldLightItalic;
}

.grid-fluid {
    width: 94%;
}


/*video {
    width:100%;
    height:auto;
    background:transparent url('../images/poster/2.jpg') no-repeat 0 0;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
 }*/

.grid-item {
    padding: 11px 0px;
}
